/** @format */

.btn {
  padding: 15px 38px;
  font-size: 16px;
  color: white;
  background: none;
  border: 1px solid #ffffff;
  display: flex;
  align-items: center;

  @media (max-width: 769px) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: 575px) {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 20px;
  }

  @media (max-width: 320px) {
    font-size: 10px;
    line-height: 12px;
  }

  &--featured {
    padding: 10px 17px;
  }

  &__img {
    height: 24px;

    &--left {
      margin-right: 10px;
    }

    &--right {
      margin-left: 30px;
    }
  }

  &--red-border {
    border-color: #ff6a6a;
    color: #ff6a6a;

    &:hover {
      background: $major-color;
      color: white;
    }
  }

  &--red {
    border-color: #ff6a6a;
    background-color: #ff6a6a;
    color: #fff;
  }

  &--black {
    color: #000000;
    border: 1px solid #a4a4a4;
  }

  &--cart-info {
    padding: 11px 14px;
  }
}
