/** @format */

.cart {
  margin-top: 96px;
  margin-bottom: 128px;

  @media (max-width: 769px) {
    margin-top: 59px;
    margin-bottom: 128px;
  }

  @media (max-width: 575px) {
    margin-top: 39px;
    margin-bottom: 96px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    @media (max-width: 769px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__product-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 73px;

    @media (max-width: 769px) {
      justify-content: center;
      gap: 48px;
      margin-top: 62px;
    }

    @media (max-width: 575px) {
      justify-content: space-between;
      margin-top: 30px;
    }
  }

  &__item {
    margin-bottom: 40px;

    @media (max-width: 575px) {
      margin-bottom: 32px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    @media (max-width: 769px) {
      margin-top: 64px;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      gap: 15px;
    }

    @media (max-width: 575px) {
      margin-top: 48px;
      flex-direction: column;
      gap: 0;
    }
  }

  &__form {
    margin-bottom: 57px;

    @media (max-width: 575px) {
      margin-bottom: 48px;
    }
  }

  &__input:not(:last-child) {
    margin-bottom: 20px;
  }

  &__total {
    padding: 40px 42px;
    background: #f5f3f3;
    height: 214px;
    text-align: right;
    width: 360px;

    @media (max-width: 769px) {
      margin-top: 38px;
    }

    @media (max-width: 575px) {
      flex-grow: 1;
      margin-top: 0;
      width: 100%;
    }
  }

  &__subtotal {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;

    & span {
      margin-left: 20px;
    }
  }

  &__grandtotal {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-top: 12px;
    margin-bottom: 21px;

    & span {
      margin-left: 20px;
    }
  }

  hr {
    margin-bottom: 17px;
    background: #e2e2e2;
    height: 1px;
    border: none;
  }

  &__btn {
    display: block;
    width: 100%;
  }
}
