/** @format */

.text {
  color: #222222;
  font-size: 14px;
  line-height: 17px;

  @media (max-width: 575px) {
    font-size: 10px;
  }

  &--red {
    color: $major-color;
  }

  &--cart {
    color: #575757;
  }

  &--reverse {
    color: white;
  }

  &--gray {
    color: #5e5e5e;
  }

  &--900 {
    font-weight: 900;
    font-size: 44px;
    line-height: 48px;

    @media (max-width: 767px) {
      font-size: 38px;
      line-height: 41px;
    }

    @media (max-width: 575px) {
      font-size: 32px;
      line-height: 34px;
    }
  }

  &--700 {
    font-weight: 700;
    font-size: 32px;
    line-height: 34px;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 28px;
    }

    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &--offer {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;

    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 24px;
    }

    @media (max-width: 575px) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--capitalize {
    text-transform: capitalize;
  }
}

.heading-1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}

.heading-2 {
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;

  &--400 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}

.heading-3 {
  margin-bottom: 12px;
  font-size: 13px;

  &--services {
    font-size: 20px;
  }
}

.link {
  text-decoration: none;
}
